{% extends 'base.html' %}
{% block title %}
    Leaderboard
{% endblock %}
{% block content %}
    <table id="leaderboard_all" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
        <thead>
        <tr>
            <th>l.p.</th>
            <th>Zawodnik</th>
            <th>Punkty</th>
            <th>Liczba Zaliczonych Segmentów</th>
        </tr>
        </thead>
        <tbody>
        {% for row in leaderboard|dictsort:'effort_count'|dictsortreversed:'sum_points' %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{% url 'athlete_detailed' row.strava_athlete_id %}">{{ row.strava_athlete_id__strava_athlete_name }}</a>
                </td>
                <td>{{ row.sum_points }}</td>
                <td>{{ row.effort_count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% block scripts %}

        <script>

        </script>
    {% endblock %}
{% endblock %}