{% extends 'base.html' %}
{% block title %}
    Leaderboard
{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>l.p.</th>
                <th>Zawodnik</th>
                <th>Punkty</th>
            </tr>
        </thead>
        <tbody>
            {% for row in leaderboard|dictsortreversed:'points__sum' %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ row.strava_athlete_id__strava_athlete_name }}</td>
                    <td>{{ row.points__sum }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}